/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  height: 100%;
  @apply min-h-screen;
  /*background-image: linear-gradient(to top, #123056, #188565); */
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.background-static {
  background: linear-gradient(25deg, #123056 40%, #188565);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
*,
html {
  scroll-behavior: smooth !important;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* /styles/tailwind.css */

@layer components {
  .nav-menu {
    @apply hidden;
  }

  .nav-menu-open {
    @apply block;
  }
}

@media (min-width: 768px) {
  @layer components {
    .nav-menu {
      @apply block;
    }

    .nav-menu-open {
      @apply hidden;
    }
  }
}

.stretch-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nft-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.area {
  width: 100%;
  padding: 16px;
  text-align: center;
  font-size: 18px;
}

.separator {
  width: 90%;
  height: 1px;
  background-color: #ccc;
  margin: 16px 0;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .area {
    padding: 8px;
    font-size: 16px;
  }

  .separator {
    margin: 8px 0;
  }
}

#__next {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.lexend {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.lexend-light {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.sticky-div {
  position: sticky;
  top: 0;
}

.slider-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.slider {
  width: 100%;
  height: 3px;
  -webkit-appearance: none;
  background: #facc15;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4caf50;
  border: 2px white solid;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4caf50;
  cursor: pointer;
  border-radius: 50%;
  border: 2px black solid;
}

.number-input-container input::-webkit-inner-spin-button,
.number-input-container input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

.number-input-container input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  display: none;
}

.sticky-bottom {
  position: sticky;
  bottom: 0px;
  box-shadow: 0 0 8px #2e2e2e;
}

.duration-glow {
  box-shadow: 0 0 8px #e8ecdd;
}
